 /* GLOBAL */

 *{

 	-webkit-box-sizing: border-box;

 	box-sizing: border-box;

 }

 body {

 	-webkit-animation: fadein 2s;

 	animation: fadein 2s;
 	font: 1em arial, sans-serif;
 	line-height: 1.5;
 	margin: auto;
 }

 ul {

 	margin: 0;
 	padding: 0;
 }

 h1,h2,h3,h4{

 	text-align: center;	
 	letter-spacing: 2px;
 	text-shadow: 5px 10px 10px #0d0d0d;
 	-webkit-text-decoration-line: underline;	
 	text-decoration-line: underline;
 }

 p{
 	text-align: center;
 }


 /* HEADER */

 header{

 	background-color: #fff;
 	border-bottom: 1px solid black;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-flow: row wrap;
 	flex-flow: row wrap;	
 	-webkit-box-pack: justify;	
 	-ms-flex-pack: justify;	
 	justify-content: space-between;
 	position: fixed;
 	width: 100%;
 	z-index: 1;
 }

 header img{

 	display: block;
 	margin: auto;
 	padding: 1rem;
 }

 .navbar{

 	margin: auto;
 	padding-bottom: 0.5rem; 
 	text-transform: uppercase;
 }

 .navbar li{

 	display: inline;
 	list-style: none;
 	margin: 1rem;
 }

 .navbar a{

 	color: #003380;
 	font-size: 19px;
 	font-style: italic;
 	font-weight: bold;
 	text-decoration: none;
 	-o-transition: 1s;
 	transition: 1s;
 	-webkit-transition: 1s;
 }

 .navbar li>.current a , .navbar a:hover{

 	-webkit-animation: fadein 1.5s;
 	animation: fadein 1.5s;
 	border-bottom: 3px solid black;
 	font-size: 21px;
 	padding-bottom: 2px; 
 }


 /* SHOWCASE */

 .showcase{

 	background: url(../img/flower.jpg) no-repeat center center;
 	border-bottom: 1px solid black;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	height: 45rem;
 	padding-top: 5rem;
 } 

 .showcase img{

 	display: block;
 	height: 7rem;
 	margin: auto;
 	padding: 1rem;
 	width: 10rem;

 }

 .showcase_info{

 	animation: zoomIn 1s;
 	background: #333;
 	border: 3px solid black;
 	border-radius: 90px;
 	color: #fff;
 	margin: auto;
 	opacity: 0.8;
 	padding: 2rem;

 }

 .showcase_info h1{

 	font-size: 50px;
 	margin: 0;
 	padding-bottom: 1rem;

 }

 .showcase_info p{

 	font-size: 2rem;
 	margin: 0;

 }


 /* ABOUT */

 article{

 	background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 35%,rgba(215,222,227,1) 65%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 75%,rgba(215,222,227,1) 77%,rgba(215,222,227,1) 79%,rgba(215,222,227,1) 90%,rgba(215,222,227,1) 95%,rgba(215,222,227,1) 99%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%);
 	border-bottom: 1px solid black;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-flow: row wrap;
 	flex-flow: row wrap;
 	line-height: 1.5;
 	margin: 0 auto;
 	min-height: 30rem;
 	padding: 4rem;


 }	

 .about{

 	border: 1px solid black;
 	-webkit-box-flex: 1;
 	-ms-flex: 1;
 	flex: 1;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	margin: auto;
 	padding: 1rem;
 	text-align: center;
 }


 .column{

 	-webkit-box-flex: 1;
 	-ms-flex: 1;
 	flex: 1;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
 	flex-direction: column;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	line-height: 1.5;
 	margin-left: 1rem;

 }

 .mission{

 	border-bottom: 1px solid black;
 	padding-bottom: 1rem;
 }

 #name{

 	text-align: right;
 }


 /* THEME */

 .theme{

 	background: url(../img/random.jpg) no-repeat center center;
 	background-size: cover;
 	border-bottom: 1px solid black;
 	font-weight: bold;
 	line-height: 1.5;
 	margin: auto;
 	min-height: 30rem;
 	padding-bottom: 1rem;

 }

 .theme img{

 	display: block;
 	margin: auto;
 	padding: 1rem;

 }

 .aloha:hover{

 	background: url(../img/aloha.JPG) no-repeat center center;
 	background-size: cover;
 }

 .siberia:hover{

 	background: url(../img/siberia.jpg) no-repeat center center;
 	background-size: cover;
 }

 .exotique:hover{

 	background: url(../img/exotic.jpg) no-repeat center center;
 	background-size: cover;
 }

 .wrapper{

 	background-color: #333;
 	border: 2px solid black;
 	box-shadow: 5px 10px 22px #0d0d0d;
 	color: #fff;
 	-ms-flex-preferred-size: 30%;
 	flex-basis: 30%;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	margin-bottom: 2rem;
 	opacity: 0.9;
 	padding: 1rem;
 	-o-transition: 1s;
 	transition: 1s;
 	-webkit-transition: 1s;
 }

 /* PRICING */

 .pricing{

 	background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 35%,rgba(215,222,227,1) 65%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 75%,rgba(215,222,227,1) 77%,rgba(215,222,227,1) 79%,rgba(215,222,227,1) 90%,rgba(215,222,227,1) 95%,rgba(215,222,227,1) 99%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%);
 	border-bottom: 1px solid black;
 	margin: auto;
 	min-height: 25rem;
 	padding-bottom: 1rem;
 }

 .pricing img {

 	display: block;
 	margin: auto;
 	padding: 1rem;
 }

 .pricing .wrapper{

 	border-width: 8px;
 	border-style: outset;

 }

 .pricing li>h2{

 	background-color: #262626;
 	border: 3px solid white;
 	border-radius: 40px;
 	margin: 0.5rem;	
 	padding: 1rem;
 	text-decoration: none;

 }

 .pricing ul{

 	list-style: none;

 }

 .pricing li{

 	border-bottom: 2px solid white;
 	font-size: 20px;
 	font-style: italic;
 	padding: 0.8rem;

 }

 #standard:hover {

 	-webkit-animation-name: standardColor;

 	animation-name: standardColor;
 	-webkit-animation-duration: 2s;
 	animation-duration: 2s;
 	-webkit-animation-iteration-count: infinite;
 	animation-iteration-count: infinite;
 	cursor: pointer;
 }

 #premium:hover {

 	-webkit-animation-name: premiumColor;

 	animation-name: premiumColor;
 	-webkit-animation-duration: 2s;
 	animation-duration: 2s;
 	-webkit-animation-iteration-count: infinite;
 	animation-iteration-count: infinite;
 	cursor: pointer;
 }

 #exclusive:hover {

 	-webkit-animation-name: exclusiveColor;
 	animation-name: exclusiveColor;
 	-webkit-animation-duration: 2s;
 	animation-duration: 2s;
 	-webkit-animation-iteration-count: infinite;
 	animation-iteration-count: infinite;
 	cursor: pointer;
 }



 /* CONTACT */

 .contact{

 	background: url(../img/map.png) no-repeat center center;
 	background-size: cover;
 	border-bottom: 1px solid black;
 	margin: auto;
 	min-height: 30rem;
 	padding: 2rem;
 }

 .contact img{

 	display: block;
 	margin: auto;
 	padding: 1rem;
 	width: 100%;

 }

 .contact form{

 	background-color: #333;
 	border: 2px solid black;
 	border-radius: 1rem;
 	box-shadow: 5px 10px 22px #0d0d0d;
 	color: #fff;
 	margin: auto;
 	max-width: 30rem;
 	opacity: 0.9;
 }

 .li-forms {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
 	flex-direction: column;
 	margin: auto;
 	padding: 0.7rem;
 }

 .li-forms input, button, label {
 	padding: 0.5rem;
 }

 .li-forms input:focus, textarea:focus{

 	outline: 2px solid turquoise;
 }

 .li-forms button {
 	
 	background-color: silver;
 	border: 0;
 	border-radius: 10px;
 	font-weight: bold;
 }


 .li-forms button:hover{

 	cursor: pointer;
 }

 .li-forms button:active{

 	transform: translateY(3px);

 }

 .li-forms button span {

 	position: relative;
 	transition: 0.5s;
 }

 .li-forms button span:after {
 	content: '\00bb';
 	position: absolute;
 	opacity: 0;
 	top: 0;
 	right: -20px;
 	transition: 0.5s;
 }

 .li-forms button:hover span {
 	padding-right: 25px;
 }

 .li-forms button:hover span:after {
 	opacity: 1;
 	right: 0;
 }


 /* FOOTER */

 footer{

 	background-color: #333;
 	color: #fff;
 	font-size: 1rem;
 	min-height: 5rem;
 }

 footer h3{

 	font-size: 2rem;
 	line-height: 4.5rem;
 	margin: auto;
 	text-align: center;
 	text-decoration: none;
 }

 footer ul{

 	-webkit-box-align: center;

 	-ms-flex-align: center;

 	align-items: center;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	margin: auto;

 }

 footer li{

 	margin: 2rem;

 }

 footer .list-icon{

 	list-style: none;
 }


 /* ANIMATION */

 @keyframes fadein { 

 	from {
 		opacity: 0;
 	}
 	to {
 		opacity: 1;
 	}	  
 }


 @keyframes zoomIn {
 	from {
 		opacity: 0;
 		transform: scale3d(.3, .3, .3);
 	}

 	50% {
 		opacity: 1;
 	}
 }


 @keyframes standardColor{

 	50% {background-color: #805500;}
 	100% {background-color: #262626;}

 }

 @keyframes premiumColor{

 	50% {background-color: #b3b3b3;}
 	100% {background-color: #262626;}

 }

 @keyframes exclusiveColor{

 	50% {background-color: #ffd700;}
 	100% {background-color: #262626;}

 }


 /* MEDIA QUERIES */

 @media all and (min-width: 900px){
 	.container, .column , article, footer{

 		display: -webkit-box;

 		display: -ms-flexbox;

 		display: flex;
 		-ms-flex-pack: distribute;
 		justify-content: space-around;
 	}

 }

 @media screen and (max-width: 1300px){

 	footer ul{

 		-webkit-box-orient: vertical;

 		-webkit-box-direction: normal;

 		-ms-flex-direction: column;

 		flex-direction: column;

 	}

 	footer li{

 		margin: 0.5rem;
 	}

 }

 @media screen and (max-width: 900px) {
 	.column{

 		margin: auto;
 	}

 	.container{

 		padding: 0 1rem;

 	}
 }

 @media screen and (max-width: 585px) {

 	header{

 		height: 4rem;

 	}

 	header img{

 		display: none;

 	}

 	.navbar a{

 		font-size: 1rem;
 	}

 	.navbar a:hover{

 		font-size: 1.2rem;
 	}

 	.showcase_info{

 		width: 90%;

 	}

 	.pricing h2{

 		font-size: 1rem;
 	}

 	.contact img{

 		width: 100%;
 	}

 }

 @media screen and (max-width: 480px) {

 	.pricing h2{

 		font-size: 1rem;
 	}

 	.navbar a{

 		font-size: 8px;
 	}

 	.navbar a:hover{

 		font-size: 8px;
 		-o-transition: none;
 		transition: none;
 		-webkit-transition: none;
 	}

 }

