 /* GLOBAL */

*{

	box-sizing: border-box;

}

body {

	animation: fadein 2s;
	background-color: #ebebfa;
	font-family: sans-serif;
	line-height: 1.5;
	margin: auto;
}

ul {

	margin: 0;
	padding: 0;
}

h1,h2,h3,h4{

	text-align: center;	
	text-decoration-line: underline;
}

p{

	font-style: italic;
	text-align: center;
}


/* HEADER */

header{

	border-bottom: 1px solid black;
	display: flex;
	flex-flow: row wrap;	
	justify-content: space-between;
}

header nav{

	margin: auto;
	padding-bottom: 0.5rem; 
	text-transform: uppercase;
}

header img{

	display: block;
	font-size: 2rem;
	font-style: italic;
	margin: auto;
	padding: 1rem;
	text-align: center;
}


header li{

	display: inline;
	list-style: none;
	margin: 1rem;
}

header a{

	color: #003380;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

nav li>.current a , nav a:hover{

	animation: fadein 1.5s;
	border-bottom: 3px solid black;
	padding-bottom: 2px;
}


/* SHOWCASE */

.showcase{

	background: url(../img/flower.jpg) no-repeat center center;
	border-bottom: 1px solid black;
	display: flex;
	height: 35rem;
} 

.showcase img{
	
	display: block;
	height: 7rem;
	margin: auto;
	padding: 1rem;
	width: 10rem;

}

.row{

	background: #333;
	border: 3px solid black;
	border-radius: 90px;
	color: #fff;
	margin: auto;
	opacity: 0.8;
	padding: 2rem;

}

.row h1{

	font-size: 50px;
	margin: 0;
	padding-bottom: 1rem;

}

.row p{

	font-size: 2rem;
	margin: 0;

}


/* ABOUT */

article{
	
	background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 35%,rgba(215,222,227,1) 65%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 75%,rgba(215,222,227,1) 77%,rgba(215,222,227,1) 79%,rgba(215,222,227,1) 90%,rgba(215,222,227,1) 95%,rgba(215,222,227,1) 99%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%);
	border-bottom: 1px solid black;
	flex-flow: row wrap;
	line-height: 1.5;
	margin: 0 auto;
	min-height: 30rem;
	padding: 4rem;


}	

.about{

	border: 1px solid black;
	flex: 1;
	flex-wrap: wrap;
	margin: auto;
	padding: 1rem;
	text-align: center;
}


.column{

	flex: 1;
	flex-direction: column;
	flex-wrap: wrap;
	line-height: 1.5;
	margin-left: 1rem;

}

.mission{
	
	border-bottom: 1px solid black;
	flex: 1;
	padding-bottom: 1rem;
}


/* THEME */

.theme{

	background: url(../img/random.jpg) no-repeat center center;
	background-size: cover;
	border-bottom: 1px solid black;
	padding-bottom: 1rem;
}

.theme img{

	display: block;
	margin: auto;
	padding: 1rem;

}

.wrapper{
	
	background-color: #333;
	border: 2px solid black;
	color: #fff;
	flex-basis: 30%;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	opacity: 0.9;
	padding: 1rem;
}


/* PRICING */

.pricing{

	background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 35%,rgba(215,222,227,1) 65%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 70%,rgba(215,222,227,1) 75%,rgba(215,222,227,1) 77%,rgba(215,222,227,1) 79%,rgba(215,222,227,1) 90%,rgba(215,222,227,1) 95%,rgba(215,222,227,1) 99%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%);
	border-bottom: 1px solid black;
	margin: auto;
	min-height: 25rem;
	padding-bottom: 3rem;
}

.pricing img {

	display: block;
	margin: auto;
	padding: 1rem;
}

.pricing table{

	background-color: #333;
	color: #fff;
	margin: auto;
	opacity: 0.9;
	width: 96%;
}

.pricing th{

	border: 2px solid #fff;
	font-family: monospace;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 0.5rem;
	text-decoration: underline;
}

.pricing td{

	border: 2px solid #fff;
	margin: 0.5rem;
	padding: 1rem;
	text-align: center;
}

#standard {

	animation-name: standardColor;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#premium{

	animation-name: premiumColor;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#exclusive{

	animation-name: exclusiveColor;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


/* CONTACT */

.contact{
	
	background: url(../img/map.png) no-repeat center center;
	background-size: cover;
	border-bottom: 1px solid black;
	margin: auto;
	min-height: 30rem;
	padding: 2rem;
}

.contact img{

	display: block;
	margin: auto;
	padding: 1rem;

}

form{

	background-color: #333;
	border: 2px solid black;
	border-radius: 1rem;
	color: #fff;
	margin: auto;
	max-width: 30rem;
	opacity: 0.9;
}

.li-forms {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.7rem;
}

.li-forms input, button, label {
    padding: 0.5rem;
}

.li-forms button {
   background: silver;
   border: 0;
   border-radius: 10px;
}

.li-forms input:focus, textarea:focus{
	
	outline: 2px solid turquoise;
}

.li-forms button:hover{

	cursor: pointer;
	font-weight: bold;
}


/* FOOTER */

footer{

	background-color: #333;
	color: #fff;
	font-size: 1rem;
	min-height: 5rem;
}

footer h3{

	font-size: 2rem;
	line-height: 4.5rem;
	margin: auto;
	text-align: center;
	text-decoration: none;
}

footer ul{

	align-items: center;
	display: flex;
	margin: auto;

}

footer li{

	margin: 2rem;
}


/* ANIMATION */

@keyframes fadein { 
	
	from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }	  
}

@keyframes standardColor{

	50% {background-color: #805500;}
	100% {background-color: #333;}

}

@keyframes premiumColor{

	50% {background-color: #b3b3b3;}
	100% {background-color: #333;}

}

@keyframes exclusiveColor{

	50% {background-color: #ffd700;}
	100% {background-color: #333;}

}


/* MEDIA QUERIES */

@media (min-width:900px){
	.container, .column , article, footer{

		display: flex;
		justify-content: space-around;
	}

}

@media (max-width: 500px) {
	header a{
	
		font-size: 10px;
	}
	
	table,td,th{
		
	font-size: 10px;
	margin: 0;
   	padding: 0;

	}
}

@media (max-width:900px) {
	.column{

		margin: auto;
	}
}

@media (max-width: 1300px){
	footer ul{

		flex-direction: column;
		
	}
	
	footer li{

		margin: 0.5rem;
	}

}